
<!DOCTYPE html>
<html lang="uz">
<head>
<meta name="theme-color" content="000000">  
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="author" content="">
<title>Kirish Cheklangan Hududdasiz! | KINOK.NET</title>




<link rel="canonical" href="https://kinok.net/shows/mening-azizim-my-dearest/1-qism/3537">

<meta property="og:type" content="movie" />
<meta property="og:title" content="Kirish Cheklangan Hududdasiz! | KINOK.NET" />
<meta property="og:description" content="Tarjima kinolar, Filmlar, Seriallar, Multfilmlar Uzbek Tilda Online Kinoteatr" />
<meta property="og:image" content="https://kinok.net/upload/logo.png" />
<meta property="og:url" content="https://kinok.net/shows/mening-azizim-my-dearest/1-qism/3537" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://kinok.net/upload/logo.png">
<link rel="image_src" href="https://kinok.net/upload/logo.png">

<!-- Favicon -->
<link rel="icon" href="https://kinok.net/upload/images/images2/favicon.ico">

  
<!-- LOAD LOCAL CSS -->
<link rel="stylesheet" href="https://kinok.net/site_assets/css/bootstrap.min.css">
<link rel="stylesheet" href="https://kinok.net/site_assets/css/owl.carousel.min.css">
 
<link rel="stylesheet" href="https://kinok.net/site_assets/css/megamenu.css">
<link rel="stylesheet" href="https://kinok.net/site_assets/css/ionicons.css">
<link rel="stylesheet" href="https://kinok.net/site_assets/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

 
   
<link rel="stylesheet" href="https://kinok.net/site_assets/css/color-style/style-six.css" id="theme">

<link rel="stylesheet" href="https://kinok.net/site_assets/css/responsive.css">

<link rel="stylesheet" href="https://kinok.net/site_assets/css/kerakli2.css">


<!-- Splide Slider CSS -->
<link rel="stylesheet" href="https://kinok.net/site_assets/css/splide.min.css">

<link rel="stylesheet" href="https://kinok.net/site_assets/css/jquery-eu-cookie-law-popup.css">

<!-- SweetAlert2 -->
<script src="https://kinok.net/site_assets/js/sweetalert2@11.js"></script>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F4QMK6ZNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-F4QMK6ZNYB');
</script>

<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(99452391, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/99452391" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
  
 
  
  
 <style type="text/css">
      .search .search-input input[type=text]::placeholder, .search .search-input input[type=text].focus {
          background: #000000 !important; 
      }
 </style>

</head>
<body>
 <main>
  


    <!-- Start Header -->
<header>
  <!-- Start Navigation Area -->
  <div class="ozel1"><div class="main-menu"> 
    <nav class="header-section pin-style">
      <div class="container-fluid">
        <div class="mod-menu">
          <div class="row">
            <div class="col-2"> 
                               
                <a href="https://kinok.net" title="logo" class="logo"><img src="https://kinok.net/upload/logo.png" alt="logo" title="logo"></a>
               
            </div>
            <div class="col-7 nav-order-last nopadding">
              <div class="main-nav leftnav">
                <ul class="top-nav">
                  <li class="visible-this d-md-none menu-icon"> <a href="#" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false" title="menu-toggle"><i class="fa fa-bars"></i></a> </li>
                </ul>
                <div id="menu" class="collapse header-menu">
                  <ul class="nav vfx-item-nav">
                    <li><a href="https://kinok.net" class="" title="Bosh sahifa">Bosh sahifa</a><span class="arrow"></span>

                      <ul class="dm-align-2 mega-list">
                                                <li><a href="/qidiruv" title="Qidiruv"><i class="fa-solid fa-magnifying-glass"></i> Qidiruv</a></li>
                                                <li><a href="/membership_plan" title="Obuna rejasi"><i class="fa-solid fa-crown"></i> Obuna rejasi</a></li>
                                                <li><a href="/page/ilovalar" title="Ilovalar"><i class="fa-brands fa-android"></i> Ilovalar</a></li>

                    </ul>
 

					</li>
                    
                    					<li><a href="https://kinok.net/movies" class="" title="Filmlar">Filmlar</a> <span class="arrow"></span>
                      <ul class="dm-align-2 mega-list">
                                                <li><a href="/latest-movies" title="Eng yangi chiqarilgan"><i class="fa-solid fa-film"></i> Eng yangi chiqarilgan</a></li>
                                                <li><a href="/popular-movies" title="Eng kop korilgan"><i class="fa-solid fa-eye"></i> Eng kop korilgan</a></li>
                                                <li><a href="/top-rated-movies" title="Eng yaxshi baholangan"><i class="fa-solid fa-chart-simple"></i> Eng yaxshi baholangan</a></li>
                    </ul>
                    </li>
                    
                                        <li><a href="https://kinok.net/shows" class=" active" title="Seriallar">Seriallar</a></li>
                    
                                        <li><a href="https://kinok.net/anime" class="" title="Animelar">Animelar</a> <span class="arrow"></span>
                      <ul class="dm-align-2 mega-list">
                                                <li><a href="https://kinok.net/anime?cat_id=11" title="O‘zbek tilida Anime">O‘zbek tilida Anime</a></li>
                                                <li><a href="https://kinok.net/anime?cat_id=12" title="Rus tilida Anime">Rus tilida Anime</a></li>
                             
                      </ul>
                    </li>
                         

                                        <li><a href="https://kinok.net/livetv" class="" title="Onlayn TV">Onlayn TV</a> <span class="arrow"></span>
                      <ul class="dm-align-2 mega-list">
                                                  <li><a href="https://kinok.net/livetv?cat_id=11" title="BOLAJONLAR UCHUN">BOLAJONLAR UCHUN</a></li>
                                                  <li><a href="https://kinok.net/livetv?cat_id=7" title="MAHALLIY">MAHALLIY</a></li>
                                                  <li><a href="https://kinok.net/livetv?cat_id=9" title="SPORT">SPORT</a></li>
                                                  <li><a href="https://kinok.net/livetv?cat_id=14" title="UMUMIY">UMUMIY</a></li>
                             
                      </ul>
                    </li>
                        

					<li><a href="/membership_plan" title="Tariflar">Tariflar</a></li>

 
                  </ul>
                </div>
              </div>
            </div>
      <div class="col-3"> 
        <div class="right-sub-item-area">
          <div class="search-item-block">
            <form class="navbar-form navbar-left">
              <a type="submit" href="#popup1" class="btn btn-default open" title="search"><i class="fa fa-search"></i></a>
            </form>
          </div>
          
          <div class="user-menu">
            <div class="user-name">
              <span>
                  
                    <img src="https://kinok.net/site_assets/images/user-avatar.png" alt="profile_img" title="Suxrob" id="userPic">
                                 
              </span>
              Suxrob<i class="fa fa-angle-down" id="userArrow"></i>
            </div>

            
            <ul class="content-user">
              <li><a href="https://kinok.net/dashboard" title="BOSHQARUV PANELI"><i class="fa fa-database"></i>BOSHQARUV PANELI</a></li>        
              <li><a href="https://kinok.net/profile" title="PROFIL"><i class="fa fa-user"></i>PROFIL</a></li>    
              <li><a href="https://kinok.net/watchlist" title="MENING KUZATUV RO`YXATIM"><i class="fa fa-list"></i>MENING KUZATUV RO`YXATIM</a></li>
              <li><a href="https://kinok.net/logout" title="CHIQISH"><i class="fa fa-sign-out-alt"></i>CHIQISH</a></li>
            </ul>

            
            
          </div>

            
          </div>
        </div>        
      </div>
          </div>
        </div>
      </div>
    </nav>
  </div></div>
  <!-- End Navigation Area --> 
</header>
<!-- End Header -->  


    
<div class="container text-center my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Resim -->
            <img src="https://kinok.net/site_assets/images/uzballowed.png" 
                 alt="Taqiqlangan hudud" 
                 class="img-fluid mb-4" 
                 style="max-width: 50%; height: auto;">

            <!-- Başlık -->
            <h2 class="text-danger mb-3" style="font-size: 28px;">
                Kirish Cheklangan Hududdasiz!
            </h2>

            <!-- Mesaj -->
            <p class="lead" style="font-size: 18px;">
                Aktiv obunaga ega bo`lish uchun admin bilan bo`glaning! Siz tizimga Türkiye ning Istanbul shahridan kirayapsiz. Ushbu platforma faqat Oʻzbekistonda ishlaydi. Agar VPN ishlatayotgan boʻlsangiz uni oʻchirib qaytadan kiring. Yoki Telegram orqali adminga murojaat qiling!
            </p>
            
            <!-- Telegram Butonu -->
			<a href="https://t.me/xa626?text=Chet eldaman platformani aktivlab bersangiz" target="_blank" class="btn btn-danger btn-lg mt-4">
			    <i class="fab fa-telegram-plane me-2"></i> Admin bilan bogʻlanish
			</a>

        </div>
    </div>
</div>

   


    <!-- Start Footer Area -->
<footer>
  <div class="ozel1">
    <div class="footer-area vfx-item-ptb">
      <div class="footer-wrapper">
        <div class="container-fluid">
          <div class="row">

            
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="footer-bottom">
                <div class="footer-heading-wrap">
                  <h3 class="footer-heading">Katalog</h3>
                </div>
                <div class="footer-links">
                  <ul>
                                          <li><a href="/" title="Bosh sahifa">Bosh sahifa</a></li>
                                        <li><a href="/qidiruv" title="Qidiruv">Qidirish</a></li>
                    <li><a href="/movies" title="Filmlar">Filmlar</a></li>
                    <li><a href="/shows" title="Seriallar">Seriallar</a></li>
                    <li><a href="/movies?genre_id=15" title="Multfilmlar">Multfilmlar</a></li>
                    <li><a href="/shows?genre_id=15" title="Multseriallar">Multseriallar</a></li>
                    <li><a href="/anime" title="Animelar">Animelar</a></li>
                    <li><a href="/livetv" title="Onlayn TV">Onlayn TV</a></li>
                  </ul>
                </div>
              </div>
            </div>

            
                        <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="single-footer">
                <div class="footer-heading-wrap">
                  <h3 class="footer-heading">Ilovalar</h3>
                </div>
                <div class="download-app-link-item">
                    
                    <a class="google-play-download" href="https://play.google.com/store/apps/details?id=uz.kinok.app" target="_blank" title="Download for Android">
                      <img src="https://kinok.net/site_assets/images/uz-gplay.png" alt="Download for Android">
                    </a> 
                                                    </div>
              </div>
            </div>
            
            
            
          </div> 
          
          
          <div class="copyright-text mt-4">
            <p>© 2024 - 2026 KINOK.NET</p>
          </div>

        </div> 
      </div> 
    </div> 
  </div> 
</footer>

<!-- End Footer Area --> 

<div id="logout_remotly" class="modal fade centered-modal in" role="dialog" aria-labelledby="logout_remotly" aria-hidden="true">  
    <div class="modal-dialog modal-dialog-centered modal-md">
       <div class="modal-content">
        <div class="modal-header">           
          <h4 class="modal-title">Remotly Logout Alert!</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Hey there! You have remotly logout from this device. You will be redirected in 5 seconds.</p>     
 
        </div>
         
      </div>      
    </div>
  </div>

<div id="popup1" class="popup-view popup-overlay">
  <div class="search">
    <div class="search-container has-results"><span class="title">Qidirish</span>
      <div class="search-input">
        <input type="text" name="s" id="search_box" class="search-container-input" placeholder="Sarlavha" onkeyup="showSuggestions(this.value)" style="background: #000000;">
      </div>
    </div>
    <div class="search-results mt-4" id="search_output">
        
 
    </div>
  </div>
  <a class="close" href="#" title="close"><i class="ion-close-round"></i></a>
</div>     
 
<div class="eupopup eupopup-bottom"></div>
 
  
  <!-- Load Local JS --> 
<script src="https://kinok.net/site_assets/js/jquery-3.3.1.min.js"></script> 
<script src="https://kinok.net/site_assets/js/jquery.easing.min.js"></script> 
<script src="https://kinok.net/site_assets/js/bootstrap.min.js"></script> 
<script src="https://kinok.net/site_assets/js/owl.carousel.min.js"></script>
<script src="https://kinok.net/site_assets/js/jquery.nice-select.min.js"></script>  
<script src="https://kinok.net/site_assets/js/megamenu.js"></script> 

 
<!-- Splide Slider JS -->
<script src="https://kinok.net/site_assets/js/splide.min.js"></script>

<!-- Custom Main JS -->
<script src="https://kinok.net/site_assets/js/custom-main.js"></script>


<script src="https://kinok.net/site_assets/js/jquery-eu-cookie-law-popup.js"></script> 

<script type="text/javascript">
  

function showSuggestions(inputString) {
  if(inputString.length <= 1){
    //document.getElementById('search_output').innerHTML = 'Search field empty!';
    document.getElementById('search_output').innerHTML = '';
  }else{
    $.ajax({
      url: "https://kinok.net/search_elastic",
      method:"GET",
      data: { 's' : inputString},
      dataType:'text',
      beforeSend: function(){
      $("#search_box").css("background","#000000 url(https://kinok.net/site_assets/images/LoaderIcon.gif) no-repeat 100%");
      },
      success: function(result){
        //alert(result);
          //$("#search_output").html = result;
          $("#search_output").html(result);
          $("#search_box").css("background","#000000");
        }
    });
  }
}  

 
</script>

<script type="text/javascript">
  
  $("li[data-path]").click(function() {
 
    $("head link#theme").attr("href", $(this).data("path"));
});

</script>


  
 
 

 


   

    <script>
document.addEventListener("DOMContentLoaded", function() {
  // IntersectionObserver desteği kontrolü
  if ("IntersectionObserver" in window) {
    let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          let lazyImage = entry.target;
          
          // data-src'yi alıp src'ye yaz
          if (lazyImage.dataset.src) {
             lazyImage.src = lazyImage.dataset.src;
          }

          // Resim tamamen yüklendiğinde tetiklenir
          lazyImage.onload = function() {
             lazyImage.classList.add("lazy-loaded");
             // lazy sınıfını kaldırmıyoruz, stil çakışması olmasın diye sadece loaded ekliyoruz
          };

          // Gözlemlemeyi bırak
          lazyImageObserver.unobserve(lazyImage);
        }
      });
    });

    // Sayfadaki tüm .lazy sınıfına sahip img'leri seç
    let lazyImages = document.querySelectorAll("img.lazy");
    lazyImages.forEach(function(lazyImage) {
      lazyImageObserver.observe(lazyImage);
    });
  } else {
    // Eski tarayıcılar için yedek (Fallback) - Hepsini direkt yükle
    let lazyImages = document.querySelectorAll("img.lazy");
    lazyImages.forEach(function(lazyImage) {
       if (lazyImage.dataset.src) {
          lazyImage.src = lazyImage.dataset.src;
          lazyImage.classList.add("lazy-loaded");
       }
    });
  }
});
</script>


<div class="ozel2"><div class="d-md-none fixed-bottom pb-2"><div class="mx-2 border border-white shadow-lg px-2 py-2 d-flex justify-content-around align-items-center bottom-nav" style="background-color: rgba(0,0,0,0.85); min-height: 50px; border-radius: 15px;">

      <a href="/" data-path="/" class="text-center small">
        <i class="fas fa-house fs-5 d-block mb-1"></i>
        <span>Asosiy</span>
      </a>

      <a href="/qidiruv" data-path="/qidiruv" class="text-center small">
        <i class="fas fa-search fs-5 d-block mb-1"></i>
        <span>Qidiruv</span>
      </a>

      <a href="/movies" data-path="/movies" class="text-center small">
        <i class="fas fa-film fs-5 d-block mb-1"></i>
        <span>Filmlar</span>
      </a>

      <a href="/shows" data-path="/shows" class="text-center small">
        <i class="fas fa-video fs-5 d-block mb-1"></i>
        <span>Seriallar</span>
      </a>

      <a href="/dashboard" data-path="/dashboard" class="text-center small">
        <i class="fa-solid fa-user fs-5 d-block mb-1"></i>
        <span>Profil</span>
      </a>

    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const currentPath = window.location.pathname;
  // Navigasyon barının en dış kapsayıcısını seçiyoruz (.ozel2)
  const navContainer = document.querySelector(".ozel2");

  // 1. GİZLEME MANTIĞI
  // Nav barın görünmesini İSTEMEDİĞİN sayfaları buraya yaz
  const excludedPaths = ["/login", "/signup", "/password/email","/membership_plan","/payment_method"];

  // Eğer mevcut sayfa bu listedekilerden biriyle başlıyorsa gizle
  // (startsWith kullanmamızın nedeni /login?ref=1 gibi durumları da yakalamak içindir)
  const shouldHide = excludedPaths.some(path => currentPath.startsWith(path));

  if (shouldHide && navContainer) {
    navContainer.style.display = "none";
    return; // Gizlediysek aşağıdaki active kodlarını çalıştırmaya gerek yok
  }

  // 2. ACTIVE CLASS MANTIĞI (Senin eski kodun)
  document.querySelectorAll(".bottom-nav a").forEach(link => {
    const linkPath = link.getAttribute("data-path");
    // Tam eşleşme veya alt sayfa kontrolü
    if (currentPath === linkPath || (linkPath !== "/" && currentPath.startsWith(linkPath + "/"))) {
      link.classList.add("active");
    }
  });
});
</script>






<script>
(function () {
  'use strict';

  try {

    /* ── 1. iOS KONTROLÜ ── */
    var ua = navigator.userAgent || '';
    var isIOS =
      /iPhone|iPad|iPod/i.test(ua) ||
      (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1);

    if (isIOS) return;

    /* ── 2. TELEGRAM TESPİTİ ── */
    var isTelegram = false;

    if (/Telegram/i.test(ua)) isTelegram = true;
    try { if (window.TelegramWebviewProxy) isTelegram = true; } catch (e) {}
    try { if (window.TelegramGameProxy)    isTelegram = true; } catch (e) {}

    if (!isTelegram) return;

    /* ── 3. SAYFAYI KİLİTLE ── */
    var siteURL = (window.location && window.location.href) || '';
    var scrollY = window.scrollY || window.pageYOffset || 0;

    document.documentElement.style.overflow = 'hidden';
    document.body.style.overflow              = 'hidden';
    document.body.style.position              = 'fixed';
    document.body.style.top                   = '-' + scrollY + 'px';
    document.body.style.left                  = '0';
    document.body.style.right                 = '0';

    /* ── 4. OVERLAY ── */
    var overlay = document.createElement('div');
    overlay.id  = 'tg-blocker-overlay';

    overlay.style.cssText = [
      'position:fixed',
      'top:0', 'left:0', 'right:0', 'bottom:0',
      'z-index:2147483647',
      'background:rgba(0,0,0,0.85)',
      'display:flex',
      'align-items:center',
      'justify-content:center',
      'padding:1rem',
      'pointer-events:auto',
      'box-sizing:border-box'
    ].join(';');

    overlay.innerHTML =
      '<div style="' +
        'background:#141414;' +
        'border:1px solid #2a2a2a;' +
        'border-radius:18px;' +
        'padding:2.4rem 2rem;' +
        'max-width:380px;' +
        'width:100%;' +
        'text-align:center;' +
        'font-family:system-ui,-apple-system,sans-serif;' +
        'box-sizing:border-box;' +
      '">' +

        '<div style="' +
          'width:64px;height:64px;' +
          'background:rgba(200,0,0,0.15);' +
          'border:1px solid rgba(200,0,0,0.35);' +
          'border-radius:50%;' +
          'display:flex;align-items:center;justify-content:center;' +
          'margin:0 auto 1.4rem;' +
        '">' +
          '<svg width="30" height="30" viewBox="0 0 24 24" fill="none"' +
          ' stroke="#cc0000" stroke-width="2" stroke-linecap="round">' +
            '<path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94' +
              'a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"/>' +
            '<line x1="12" y1="9"  x2="12"    y2="13"/>' +
            '<line x1="12" y1="17" x2="12.01" y2="17"/>' +
          '</svg>' +
        '</div>' +

        '<p style="font-size:19px;font-weight:600;color:#f0f0f0;margin:0 0 0.75rem;">' +
          'Telegram brauzeri aniqlandi' +
        '</p>' +
        '<p style="font-size:15px;color:#888;line-height:1.7;margin:0 0 0.5rem;">' +
          '<span style="color:#cc0000;font-weight:500;">Ushbu platforma Telegram ichki brauzerida to\u02BCliq stabil ishlamaydi.</span>' +
        '</p>' +
        '<p style="font-size:15px;color:#888;line-height:1.7;margin:0 0 2rem;">' +
          'Davom etish uchun saytni qurilmangizning asosiy brauzerida oching. Masalan Google Chrome orqali KINOK.NET dan foydalaning yoki yuqoridagi 3 nuqtani bosib OCHISH ni tanlang.' +
        '</p>' +

        '<button id="tg-blocker-btn" style="' +
          'width:100%;padding:0.9rem 1rem;' +
          'background:#cc0000;color:#fff;' +
          'border:none;border-radius:11px;' +
          'font-size:16px;font-weight:600;cursor:pointer;' +
          'font-family:inherit;' +
        '">Brauzerda ochish</button>' +

      '</div>';

    /* ── 5. BUTON ── */
    function bindButton() {
      try {
        var btn = document.getElementById('tg-blocker-btn');
        if (!btn) return;

        btn.addEventListener('click', function (e) {
          e.stopPropagation();
          try {
            var isAndroid = /Android/i.test(ua);
            if (isAndroid) {
              var intentURL =
                'intent://' +
                siteURL.replace(/^https?:\/\//i, '') +
                '#Intent;scheme=https;action=android.intent.action.VIEW;end';

              var win = null;
              try { win = window.open(intentURL, '_blank'); } catch (ex) {}
              if (!win) {
                try { window.location.href = intentURL; } catch (ex) {}
              }
            } else {
              try { window.open(siteURL, '_blank'); } catch (ex) {}
            }
          } catch (ex) {}
        });
      } catch (e) {}
    }

    /* ── 6. DOM'A EKLE ── */
    function mount() {
      try {
        if (document.body) {
          document.body.appendChild(overlay);
          bindButton();
        } else {
          document.addEventListener('DOMContentLoaded', function () {
            try {
              document.body.appendChild(overlay);
              bindButton();
            } catch (e) {}
          });
        }
      } catch (e) {}
    }

    mount();

  } catch (e) {}

})();
</script>
 </main>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v8c78df7c7c0f484497ecbca7046644da1771523124516" integrity="sha512-8DS7rgIrAmghBFwoOTujcf6D9rXvH8xm8JQ1Ja01h9QX8EzXldiszufYa4IFfKdLUKTTrnSFXLDkUEOTrZQ8Qg==" data-cf-beacon='{"version":"2024.11.0","token":"53e5f91d85004cc2abb3a8834bcc9d1c","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'9f5055c4a83fd9f2',t:'MTc3NzY1NDc0OA=='};var a=document.createElement('script');a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>